/node_modules
/public/client_images
/public/clientUserStorage
/public/courseImages
/public/documentStorage
/public/LiveCourseImages
/public/projectStorage
/public/testSubCategoryImages
/public/userStorage
/public/assignmentStorage
/public/clientAssignmentStorage
/public/workshopImages
/vendor
.env