#question{padding: 0px 5px 0px 5px;}
.media {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #d2d6de;
  overflow: visible;
}
.media-body{overflow: visible;}
.media-heading:before,
.box-body:before,
.box-footer:before,
.media-heading:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.media-heading:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.media-heading {
  color: #444;
  display: block;
  padding: 5px;
  position: relative;
  background: #f7f7f7;
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.media-heading > .fa,
.media-heading > .glyphicon,
.media-heading > .ion {
  margin-right: 5px;
}
.media-heading > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.media-heading > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.media-heading > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.media-heading > .box-tools .dropdown-menu > li > a {
  color: #444!important;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.user-block:before,
.user-block:after {
  content: " ";
  display: table;
}
.user-block:after {
  clear: both;
}
.user-block img {
  width: 50px;
  height: 50px;
  float: left;
  border: 2px solid #d2d6de;
  padding: 1px;
}
.main-reply-box{ padding: 10px 0px;}
.main-reply-box span{
  font-weight: bolder;
  font-size: 16px;
}
.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}
.user-block .tital{
  font-size: 18px;
  font-weight: 600;
  margin-left: 8px;
}
.user-block .username {
  font-size: 16px;
  font-weight: 600;
}
.user-block .description {
  color: #999;
  font-size: 13px;
}
.user-block.user-block-sm .username,
.user-block.user-block-sm .description,
.user-block.user-block-sm .comment {
  margin-left: 40px;
}
.user-block.user-block-sm .username {
  font-size: 14px;
}
.img-sm,
.img-md,
.img-lg,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  float: left;
}
.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  width: 30px !important;
  height: 30px !important;
}
/*sub cmt*/
.user-block:before,
.user-block:after {
  content: " ";
  display: table;
}
.user-block:after {
  clear: both;
}
.user-block img {
  width: 40px;
  height: 40px;
  float: left;
}
 .cmt_child, .replyComment{
  padding: 10px ;
  margin-left: 0px;
}
.cmt-left-margin{
  margin-left: 20px;
}
/*border*/
.border-bottom{
  border-bottom: 1px solid #d2d6de;
}
.chat {
  padding: 5px 20px 5px 10px;
}
.chat .item {
  margin-bottom: 10px;

}
.chat .item:before,
.chat .item:after {
  content: " ";
  display: table;
}
.chat .item:after {
  clear: both;
}
.chat .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
  border: 2px solid #d2d6de;
  padding: 2px;
}
.chat .item > .message {
  margin-left: 55px;
  margin-top: -40px;
}
.SubCommentName{font-size: 14px;
  font-weight: 600; }
  .chat .item > .message > .name {
    display: block;
    font-weight: 600;
  }
  .reply-1{   margin-left: 55px;
  }
  .reply-1 span{font-weight: 600px;}
  .replySubComment-1{   margin-left: 55px; }
  .chat .replySubComment-1 > img {
    width: 34px;
    margin-bottom: 7px;
    height: 34px;
    border: 2px solid transparent;
    border-radius: 50%;
    border: 2px solid #d2d6de;
    padding: 2px;
  }
  .chat .replySubComment-1 .item > .message {
    margin-left: 55px;
    margin-top: -40px;
  }
  .SubCommentName{font-size: 14px;
    font-weight: 600; }
    span.time-of-reply {color: #444; margin-left: 5px; }

    .morecontent span {
      display: none;
    }
    .morelink {
      display: block;
    }
    .sub-sub-cmt{margin-left: 55px;}
    .media-body .bold{font-weight:bolder;}

    .cmt-bg{background: #f3f6f8;}
    .widget-area {
      background-color: lightpink;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
      -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
      -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
      float: left;
      padding: 25px 30px;
      position: relative;
      width: 100%;
    }
    .status-upload {
      background: none repeat scroll 0 0 #f5f5f5;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      float: left;
      width: 100%;
    }
    .status-upload form {
      float: left;
      width: 100%;
    }
    .status-upload form textarea {
      background: none repeat scroll 0 0 #fff;
      border: medium none;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -ms-border-radius: 4px 4px 0 0;
      -o-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
      color: #777777;
      float: left;
      font-family: Lato;
      font-size: 14px;
      height: 142px;
      letter-spacing: 0.3px;
      padding: 0px;
      width: 100%;
      resize:vertical;
      outline:none;
      border: 1px solid #F2F2F2;
    }
    .status-upload form textarea:focus{
      border: 1px solid #01bafd;
    }
    .status-upload ul {
      float: left;
      list-style: none outside none;
      margin: 0;
      padding: 0 0 0 15px;
      width: auto;
    }
    .status-upload ul > li {
      float: left;
    }
    .status-upload ul > li > a {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      color: #777777;
      float: left;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      margin: 10px 0 10px 10px;
      text-align: center;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      width: 30px;
      cursor: pointer;
    }
    .status-upload ul > li > a:hover {
      background: none repeat scroll 0 0 #606060;
      color: #fff;
    }
    .status-upload form button {
      border: medium none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      color: #fff;
      float: right;
      font-family: Lato;
      font-size: 14px;
      letter-spacing: 0.3px;
      margin-right: 9px;
      margin-top: 9px;
      padding: 6px 15px;
      border-radius: 20px;
    }
    @media (min-width: 768px) {
      status-upload ul > li > a {
        margin: 10px 0 10px 5px;

      }
      button .fa-share{
        text-align: center;
        color: pink;
      }
    }
    .dropdown > a > span.green:before {
      border-left-color: #2dcb73;
    }
    .status-upload form button > i {
      margin-right: 7px;
    }

.ask-qst button{border-radius: 0px;
margin-bottom: 20px;
margin-left: -13px;}
@media(max-width: 768px){
  .ask-qst {
    text-align: center !important;
  }
}
.cmt-left-margin-10{
  margin-left: 10px;
}