#all-result{padding: 20px 0px;}
#all-result .panel-heading{font-weight: bolder;}
#all-result .panel-body{height: 600px;
overflow: scroll;}
.v-container{padding: 50px  0px;}
@media (max-width: 678px){
  .v-container{padding: 20px  0px;}
}
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*student record*/
  #student-record td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #student-record td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #student-record td:nth-of-type(3):before { content: "Department";  font-weight: bolder;}
  #student-record td:nth-of-type(4):before { content: "Year"; font-weight: bolder;}
  #student-record td:nth-of-type(5):before { content: "Roll No."; font-weight: bolder;}
  #student-record td:nth-of-type(6):before { content: "Approval"; font-weight: bolder;}
  #student-record td:nth-of-type(7):before { content: "Delete"; font-weight: bolder;}
  #student-record td:nth-of-type(8):before { content: "Edit Profile"; font-weight: bolder;}
  /*test result*/
  #test-result td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #test-result td:nth-of-type(2):before { content: "Subject";  font-weight: bolder;}
  #test-result td:nth-of-type(3):before { content: "Paper"; font-weight: bolder;}
  #test-result td:nth-of-type(4):before { content: "Marks"; font-weight: bolder;}
  #test-result td:nth-of-type(5):before { content: "Rank"; font-weight: bolder;}
  /*course result*/
  #course-result td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #course-result td:nth-of-type(2):before { content: "Courses";  font-weight: bolder;}
  #course-result td:nth-of-type(3):before { content: "Grade"; font-weight: bolder;}
  #course-result td:nth-of-type(4):before { content: "Certificate"; font-weight: bolder;}
  /*unapprove student*/
  #students td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #students td:nth-of-type(2):before { content: "College/Company";  font-weight: bolder;}
  #students td:nth-of-type(3):before { content: "Name";  font-weight: bolder;}
  #students td:nth-of-type(4):before { content: "Approval"; font-weight: bolder;}
  /*profile*/
  #usr-profile td:nth-of-type(1):before { content: "NAME :" ; font-weight: bolder; }
  #usr-profile td:nth-of-type(2):before { content: "EMAIL :";  font-weight: bolder;}
  #usr-profile td:nth-of-type(3):before { content: "EDIT"; font-weight: bolder;}
  /*other student*/
  #otherStudents td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #otherStudents td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #otherStudents td:nth-of-type(3):before { content: "College/Company";  font-weight: bolder;}
  #otherStudents td:nth-of-type(4):before { content: "Approval"; font-weight: bolder;}
  #otherStudents td:nth-of-type(5):before { content: "Delete"; font-weight: bolder;}
  /*lecturer/hods*/
  #lectures_hods_record td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #lectures_hods_record td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #lectures_hods_record td:nth-of-type(3):before { content: "Department";  font-weight: bolder;}
  #lectures_hods_record td:nth-of-type(4):before { content: "Approval"; font-weight: bolder;}
  #lectures_hods_record td:nth-of-type(5):before { content: "Delete"; font-weight: bolder;}
   /*principal_tnp_record*/
  #principal_tnp_record td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #principal_tnp_record td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #principal_tnp_record td:nth-of-type(3):before { content: "Approval"; font-weight: bolder;}
  #principal_tnp_record td:nth-of-type(4):before { content: "Delete"; font-weight: bolder;}
    /*clients*/
  #clients td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #clients td:nth-of-type(2):before { content: "Name of Institute";  font-weight: bolder;}
  #clients td:nth-of-type(3):before { content: "Test Permission"; font-weight: bolder;}
  #clients td:nth-of-type(4):before { content: "Course Permission"; font-weight: bolder;}
  #clients td:nth-of-type(5):before { content: "Url";  font-weight: bolder;}
  #clients td:nth-of-type(6):before { content: "Approval"; font-weight: bolder;}
  #clients td:nth-of-type(7):before { content: "Delete"; font-weight: bolder;}
    /* all_test_result */
  #all_test_result td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #all_test_result td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #all_test_result td:nth-of-type(3):before { content: "College";  font-weight: bolder;}
  #all_test_result td:nth-of-type(4):before { content: "Department"; font-weight: bolder;}
  #all_test_result td:nth-of-type(5):before { content: "Marks"; font-weight: bolder;}
  #all_test_result td:nth-of-type(6):before { content: "Rank"; font-weight: bolder;}
      /* clientAllTestResult */
  #clientAllTestResult td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #clientAllTestResult td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #clientAllTestResult td:nth-of-type(3):before { content: "Marks";  font-weight: bolder;}
  #clientAllTestResult td:nth-of-type(4):before { content: "Rank."; font-weight: bolder;}
    /* mobile_client_users */
  #mobile_client_users td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #mobile_client_users td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #mobile_client_users td:nth-of-type(3):before { content: "Client Approve";  font-weight: bolder;}
  #mobile_client_users td:nth-of-type(4):before { content: "Course"; font-weight: bolder;}
  #mobile_client_users td:nth-of-type(5):before { content: "Courses Permission"; font-weight: bolder;}
  #mobile_client_users td:nth-of-type(6):before { content: "Delete"; font-weight: bolder;}
    /* mobile_client_messages */
  #mobile_client_messages td:nth-of-type(1):before { content: "Message" ; font-weight: bolder; }
  #mobile_client_messages td:nth-of-type(2):before { content: "Already Seen";  font-weight: bolder;}
  /* mobile_user_messages */
  #mobile_user_messages td:nth-of-type(1):before { content: "Message" ; font-weight: bolder; }
  /* mobile_user_notifications */
  #mobile_user_notifications td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #mobile_user_notifications td:nth-of-type(2):before { content: "Message" ; font-weight: bolder; }
  /* mobile_admin_messages */
  #mobile_admin_messages td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #mobile_admin_messages td:nth-of-type(2):before { content: "Message" ; font-weight: bolder; }
  #mobile_admin_messages td:nth-of-type(3):before { content: "Already Seen";  font-weight: bolder;}
  /*  clientStudentAssignmentTable */
  #clientStudentAssignmentTable td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #clientStudentAssignmentTable td:nth-of-type(2):before { content: "Assignment" ; font-weight: bolder; }
  #clientStudentAssignmentTable td:nth-of-type(3):before { content: "Subject";  font-weight: bolder;}
  #clientStudentAssignmentTable td:nth-of-type(4):before { content: "Topic";  font-weight: bolder;}
  #clientStudentAssignmentTable td:nth-of-type(5):before { content: "Remark";  font-weight: bolder;}
  /* studentAssignments */
  #studentAssignments td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #studentAssignments td:nth-of-type(2):before { content: "Assignment" ; font-weight: bolder; }
  #studentAssignments td:nth-of-type(3):before { content: "Attachment";  font-weight: bolder;}
  #studentAssignments td:nth-of-type(4):before { content: "Subject";  font-weight: bolder;}
  #studentAssignments td:nth-of-type(5):before { content: "Topic";  font-weight: bolder;}
  #studentAssignments td:nth-of-type(6):before { content: "Remark";  font-weight: bolder;}
    /*  clientUserAssignment */
  #clientUserAssignment td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #clientUserAssignment td:nth-of-type(2):before { content: "Assignment" ; font-weight: bolder; }
  #clientUserAssignment td:nth-of-type(3):before { content: "Subject";  font-weight: bolder;}
  #clientUserAssignment td:nth-of-type(4):before { content: "Topic";  font-weight: bolder;}
  #clientUserAssignment td:nth-of-type(5):before { content: "Do Assignment";  font-weight: bolder;}

   /*  clientAssignmentTable */
  #clientAssignmentTable td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #clientAssignmentTable td:nth-of-type(2):before { content: "Assignment" ; font-weight: bolder; }
  #clientAssignmentTable td:nth-of-type(3):before { content: "Subject";  font-weight: bolder;}
  #clientAssignmentTable td:nth-of-type(4):before { content: "Topic";  font-weight: bolder;}
  #clientAssignmentTable td:nth-of-type(5):before { content: "Edit";  font-weight: bolder;}
  #clientAssignmentTable td:nth-of-type(6):before { content: "Delete";  font-weight: bolder;}

     /*  assignmentTable */
  #assignmentTable td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #assignmentTable td:nth-of-type(2):before { content: "Assignment" ; font-weight: bolder; }
  #assignmentTable td:nth-of-type(3):before { content: "Attachment";  font-weight: bolder;}
  #assignmentTable td:nth-of-type(4):before { content: "Subject";  font-weight: bolder;}
  #assignmentTable td:nth-of-type(5):before { content: "Topic";  font-weight: bolder;}
  #assignmentTable td:nth-of-type(6):before { content: "Edit";  font-weight: bolder;}
  #assignmentTable td:nth-of-type(7):before { content: "Delete";  font-weight: bolder;}

  /* clientAssignmentTopicTable */
  #clientAssignmentTopicTable td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #clientAssignmentTopicTable td:nth-of-type(2):before { content: "Topic" ; font-weight: bolder; }
  #clientAssignmentTopicTable td:nth-of-type(3):before { content: "Subject";  font-weight: bolder;}
  #clientAssignmentTopicTable td:nth-of-type(4):before { content: "Edit";  font-weight: bolder;}
  #clientAssignmentTopicTable td:nth-of-type(5):before { content: "Delete";  font-weight: bolder;}

    /* assignmentTopics */
  #assignmentTopics td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #assignmentTopics td:nth-of-type(2):before { content: "Topic" ; font-weight: bolder; }
  #assignmentTopics td:nth-of-type(3):before { content: "Subject";  font-weight: bolder;}
  #assignmentTopics td:nth-of-type(4):before { content: "Departments";  font-weight: bolder;}
  #assignmentTopics td:nth-of-type(5):before { content: "Years";  font-weight: bolder;}
  #assignmentTopics td:nth-of-type(6):before { content: "Created By";  font-weight: bolder;}
  #assignmentTopics td:nth-of-type(7):before { content: "Edit";  font-weight: bolder;}
  #assignmentTopics td:nth-of-type(8):before { content: "Delete";  font-weight: bolder;}

  /* client_batch_users */
  #client_batch_users td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #client_batch_users td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #client_batch_users td:nth-of-type(3):before { content: "Email";  font-weight: bolder;}
  #client_batch_users td:nth-of-type(4):before { content: "Status";  font-weight: bolder;}


    /* collegeSubjects */
  #collegeSubjects td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeSubjects td:nth-of-type(2):before { content: "Subject";  font-weight: bolder;}
  #collegeSubjects td:nth-of-type(3):before { content: "Years";  font-weight: bolder;}
  #collegeSubjects td:nth-of-type(4):before { content: "Departments";  font-weight: bolder;}
  #collegeSubjects td:nth-of-type(5):before { content: "Created By";  font-weight: bolder;}
  #collegeSubjects td:nth-of-type(6):before { content: "Edit";  font-weight: bolder;}
  #collegeSubjects td:nth-of-type(7):before { content: "Delete";  font-weight: bolder;}

    /*  clientAssignmentSubjects */
  #clientAssignmentSubjects td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #clientAssignmentSubjects td:nth-of-type(2):before { content: "Subject" ; font-weight: bolder; }
  #clientAssignmentSubjects td:nth-of-type(3):before { content: "Edit";  font-weight: bolder;}
  #clientAssignmentSubjects td:nth-of-type(4):before { content: "Delete";  font-weight: bolder;}
    /*  batches */
  #batches td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #batches td:nth-of-type(2):before { content: "Batch" ; font-weight: bolder; }
  #batches td:nth-of-type(3):before { content: "Edit";  font-weight: bolder;}
  #batches td:nth-of-type(4):before { content: "Delete";  font-weight: bolder;}

  /*  studentAttendance */
  #studentAttendance td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #studentAttendance td:nth-of-type(2):before { content: "Month" ; font-weight: bolder; }
  #studentAttendance td:nth-of-type(3):before { content: "Present Dates";  font-weight: bolder;}
  #studentAttendance td:nth-of-type(4):before { content: "Absent Days/No. of Days";  font-weight: bolder;}


  /* collegeTestCategory */
  #collegeTestCategory td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeTestCategory td:nth-of-type(2):before { content: "Category" ; font-weight: bolder; }
  #collegeTestCategory td:nth-of-type(3):before { content: "Edit";  font-weight: bolder;}
  #collegeTestCategory td:nth-of-type(4):before { content: "Delete";  font-weight: bolder;}

  /*collegeTestSubCategory*/
  #collegeTestSubCategory td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeTestSubCategory td:nth-of-type(2):before { content: "Sub Category" ; font-weight: bolder; }
  #collegeTestSubCategory td:nth-of-type(3):before { content: "Category" ; font-weight: bolder; }
  #collegeTestSubCategory td:nth-of-type(4):before { content: "Created By";  font-weight: bolder;}
  #collegeTestSubCategory td:nth-of-type(5):before { content: "Edit";  font-weight: bolder;}
  #collegeTestSubCategory td:nth-of-type(6):before { content: "Delete";  font-weight: bolder;}

  /*collegeTestSubject*/
  #collegeTestSubject td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeTestSubject td:nth-of-type(2):before { content: "Subject" ; font-weight: bolder; }
  #collegeTestSubject td:nth-of-type(3):before { content: "Category" ; font-weight: bolder; }
  #collegeTestSubject td:nth-of-type(4):before { content: "Sub Category" ; font-weight: bolder; }
  #collegeTestSubject td:nth-of-type(5):before { content: "Created By";  font-weight: bolder;}
  #collegeTestSubject td:nth-of-type(6):before { content: "Edit";  font-weight: bolder;}
  #collegeTestSubject td:nth-of-type(7):before { content: "Delete";  font-weight: bolder;}

  /*collegeListQuestions*/
  #collegeListQuestions td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeListQuestions td:nth-of-type(2):before { content: "Question" ; font-weight: bolder; }
  #collegeListQuestions td:nth-of-type(3):before { content: "Edit";  font-weight: bolder;}
  #collegeListQuestions td:nth-of-type(4):before { content: "Delete";  font-weight: bolder;}

  /*collegeTestPaper*/
  #collegeTestPaper td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeTestPaper td:nth-of-type(2):before { content: "Paper" ; font-weight: bolder; }
  #collegeTestPaper td:nth-of-type(3):before { content: "Category" ; font-weight: bolder; }
  #collegeTestPaper td:nth-of-type(4):before { content: "Sub Category" ; font-weight: bolder; }
  #collegeTestPaper td:nth-of-type(5):before { content: "Subject" ; font-weight: bolder; }
  #collegeTestPaper td:nth-of-type(6):before { content: "Verification Code";  font-weight: bolder;}
  #collegeTestPaper td:nth-of-type(7):before { content: "Created By";  font-weight: bolder;}
  #collegeTestPaper td:nth-of-type(8):before { content: "Edit";  font-weight: bolder;}
  #collegeTestPaper td:nth-of-type(9):before { content: "Delete";  font-weight: bolder;}

  /*collegeCourseCategory*/
  #collegeCourseCategory td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeCourseCategory td:nth-of-type(2):before { content: "Category" ; font-weight: bolder; }
  #collegeCourseCategory td:nth-of-type(3):before { content: "Created By ";  font-weight: bolder;}
  #collegeCourseCategory td:nth-of-type(4):before { content: "Edit";  font-weight: bolder;}
  #collegeCourseCategory td:nth-of-type(5):before { content: "Delete";  font-weight: bolder;}

  /*collegeCourseSubCategory*/
  #collegeCourseSubCategory td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeCourseSubCategory td:nth-of-type(2):before { content: "Sub Category" ; font-weight: bolder; }
  #collegeCourseSubCategory td:nth-of-type(3):before { content: "Category" ; font-weight: bolder; }
  #collegeCourseSubCategory td:nth-of-type(4):before { content: "Created By ";  font-weight: bolder;}
  #collegeCourseSubCategory td:nth-of-type(5):before { content: "Edit";  font-weight: bolder;}
  #collegeCourseSubCategory td:nth-of-type(6):before { content: "Delete";  font-weight: bolder;}

  /*collegeCourseCourse*/
  #collegeCourseCourse td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeCourseCourse td:nth-of-type(2):before { content: "Course" ; font-weight: bolder; }
  #collegeCourseCourse td:nth-of-type(3):before { content: "Category" ; font-weight: bolder; }
  #collegeCourseCourse td:nth-of-type(4):before { content: "Sub Category" ; font-weight: bolder; }
  #collegeCourseCourse td:nth-of-type(5):before { content: "Created By ";  font-weight: bolder;}
  #collegeCourseCourse td:nth-of-type(6):before { content: "Edit";  font-weight: bolder;}
  #collegeCourseCourse td:nth-of-type(7):before { content: "Delete";  font-weight: bolder;}

  /*collegeCourseVideo*/
  #collegeCourseVideo td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeCourseVideo td:nth-of-type(2):before { content: "Video" ; font-weight: bolder; }
  #collegeCourseVideo td:nth-of-type(3):before { content: "Category" ; font-weight: bolder; }
  #collegeCourseVideo td:nth-of-type(4):before { content: "Sub Category" ; font-weight: bolder; }
  #collegeCourseVideo td:nth-of-type(5):before { content: "Course" ; font-weight: bolder; }
  #collegeCourseVideo td:nth-of-type(6):before { content: "Created By ";  font-weight: bolder;}
  #collegeCourseVideo td:nth-of-type(7):before { content: "Edit";  font-weight: bolder;}
  #collegeCourseVideo td:nth-of-type(8):before { content: "Delete";  font-weight: bolder;}

  /*collegeVkitCategory*/
  #collegeVkitCategory td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeVkitCategory td:nth-of-type(2):before { content: "Category" ; font-weight: bolder; }
  #collegeVkitCategory td:nth-of-type(3):before { content: "Edit";  font-weight: bolder;}
  #collegeVkitCategory td:nth-of-type(4):before { content: "Delete";  font-weight: bolder;}

  /*collegeVkitProject*/
  #collegeVkitProject td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeVkitProject td:nth-of-type(2):before { content: "Project" ; font-weight: bolder; }
  #collegeVkitProject td:nth-of-type(3):before { content: "Category" ; font-weight: bolder; }
  #collegeVkitProject td:nth-of-type(4):before { content: "Created By ";  font-weight: bolder;}
  #collegeVkitProject td:nth-of-type(5):before { content: "Edit";  font-weight: bolder;}
  #collegeVkitProject td:nth-of-type(6):before { content: "Delete";  font-weight: bolder;}

  /* college_attendance_users */
  #college_attendance_users td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #college_attendance_users td:nth-of-type(2):before { content: "Name";  font-weight: bolder;}
  #college_attendance_users td:nth-of-type(3):before { content: "Email";  font-weight: bolder;}
  #college_attendance_users td:nth-of-type(4):before { content: "Status";  font-weight: bolder;}

  /*college_offline_paper_marks*/
  #college_offline_paper_marks td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #college_offline_paper_marks td:nth-of-type(2):before { content: "Email";  font-weight: bolder;}
  #college_offline_paper_marks td:nth-of-type(3):before { content: "Mark";  font-weight: bolder;}
  #college_offline_paper_marks td:nth-of-type(4):before { content: "OutOff";  font-weight: bolder;}

  /* collegeExtraClass*/
  #collegeExtraClass td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeExtraClass td:nth-of-type(2):before { content: "Subject" ; font-weight: bolder; }
  #collegeExtraClass td:nth-of-type(3):before { content: "Departments";  font-weight: bolder;}
  #collegeExtraClass td:nth-of-type(4):before { content: "Years";  font-weight: bolder;}
  #collegeExtraClass td:nth-of-type(5):before { content: "Topic";  font-weight: bolder;}
  #collegeExtraClass td:nth-of-type(6):before { content: "Date";  font-weight: bolder;}
  #collegeExtraClass td:nth-of-type(7):before { content: "From Time";  font-weight: bolder;}
  #collegeExtraClass td:nth-of-type(8):before { content: "To Time";  font-weight: bolder;}
  #collegeExtraClass td:nth-of-type(9):before { content: "Edit";  font-weight: bolder;}
  #collegeExtraClass td:nth-of-type(10):before { content: "Delete";  font-weight: bolder;}

  /* collegeNotice*/
  #collegeNotice td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeNotice td:nth-of-type(2):before { content: "Departments" ; font-weight: bolder; }
  #collegeNotice td:nth-of-type(3):before { content: "Years";  font-weight: bolder;}
  #collegeNotice td:nth-of-type(4):before { content: "Date";  font-weight: bolder;}
  #collegeNotice td:nth-of-type(5):before { content: "Notice";  font-weight: bolder;}
  #collegeNotice td:nth-of-type(6):before { content: "Created By";  font-weight: bolder;}
  #collegeNotice td:nth-of-type(7):before { content: "Emergency Notice";  font-weight: bolder;}
  #collegeNotice td:nth-of-type(8):before { content: "Edit";  font-weight: bolder;}
  #collegeNotice td:nth-of-type(9):before { content: "Delete";  font-weight: bolder;}

  /* collegeHoliday*/
  #collegeHoliday td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeHoliday td:nth-of-type(2):before { content: "Date" ; font-weight: bolder; }
  #collegeHoliday td:nth-of-type(3):before { content: "Holiday Message";  font-weight: bolder;}
  #collegeHoliday td:nth-of-type(4):before { content: "Created By";  font-weight: bolder;}
  #collegeHoliday td:nth-of-type(5):before { content: "Edit";  font-weight: bolder;}
  #collegeHoliday td:nth-of-type(6):before { content: "Delete";  font-weight: bolder;}

  /*collegeTimeTable*/
  #collegeTimeTable td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeTimeTable td:nth-of-type(2):before { content: "Department" ; font-weight: bolder; }
  #collegeTimeTable td:nth-of-type(3):before { content: "Year";  font-weight: bolder;}
  #collegeTimeTable td:nth-of-type(4):before { content: "Image";  font-weight: bolder;}
  #collegeTimeTable td:nth-of-type(5):before { content: "Created By";  font-weight: bolder;}
  #collegeTimeTable td:nth-of-type(6):before { content: "Edit";  font-weight: bolder;}
  #collegeTimeTable td:nth-of-type(7):before { content: "Delete";  font-weight: bolder;}

  /*collegeCalendar*/
  #collegeCalendar td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #collegeCalendar td:nth-of-type(2):before { content: "Image" ; font-weight: bolder; }
  #collegeCalendar td:nth-of-type(3):before { content: "Created By";  font-weight: bolder;}
  #collegeCalendar td:nth-of-type(4):before { content: "Edit";  font-weight: bolder;}
  #collegeCalendar td:nth-of-type(5):before { content: "Delete";  font-weight: bolder;}

  /*purchaseSms*/
  #purchaseSms td:nth-of-type(1):before { content: "Sr. No." ; font-weight: bolder; }
  #purchaseSms td:nth-of-type(2):before { content: "Purchased By" ; font-weight: bolder; }
  #purchaseSms td:nth-of-type(3):before { content: "Note";  font-weight: bolder;}
  #purchaseSms td:nth-of-type(4):before { content: "Price";  font-weight: bolder;}
  #purchaseSms td:nth-of-type(5):before { content: "Date";  font-weight: bolder;}

  /*mobile_client_user_permission*/
  #mobile_client_user_permission td:nth-of-type(1):before { content: "Course Name" ; font-weight: bolder; }
  #mobile_client_user_permission td:nth-of-type(2):before { content: "Test Permission";  font-weight: bolder;}
  #mobile_client_user_permission td:nth-of-type(3):before { content: "Course Permission";  font-weight: bolder;}
  .expant-child>td:before{display: none!important;}
  .expant-child>td{
    position: relative;
    padding-left: 0px;
  }

  /*  clientExams */
  #clientExams td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #clientExams td:nth-of-type(2):before { content: "Batch" ; font-weight: bolder; }
  #clientExams td:nth-of-type(3):before { content: "Type" ; font-weight: bolder; }
  #clientExams td:nth-of-type(4):before { content: "Exam" ; font-weight: bolder; }
  #clientExams td:nth-of-type(5):before { content: "Subject";  font-weight: bolder;}
  #clientExams td:nth-of-type(6):before { content: "Topic";  font-weight: bolder;}
  #clientExams td:nth-of-type(7):before { content: "Mark"; font-weight: bolder; }
  #clientExams td:nth-of-type(8):before { content: "Date" ; font-weight: bolder; }
  #clientExams td:nth-of-type(9):before { content: "From" ; font-weight: bolder; }
  #clientExams td:nth-of-type(10):before { content: "To" ; font-weight: bolder; }
  #clientExams td:nth-of-type(11):before { content: "Edit";  font-weight: bolder;}
  #clientExams td:nth-of-type(12):before { content: "Delete";  font-weight: bolder;}

  /*  clientClasses */
  #clientClasses td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #clientClasses td:nth-of-type(2):before { content: "Batch" ; font-weight: bolder; }
  #clientClasses td:nth-of-type(3):before { content: "Subject" ; font-weight: bolder; }
  #clientClasses td:nth-of-type(4):before { content: "Topic" ; font-weight: bolder; }
  #clientClasses td:nth-of-type(5):before { content: "Teacher";  font-weight: bolder;}
  #clientClasses td:nth-of-type(6):before { content: "Date" ; font-weight: bolder; }
  #clientClasses td:nth-of-type(7):before { content: "From" ; font-weight: bolder; }
  #clientClasses td:nth-of-type(8):before { content: "To" ; font-weight: bolder; }
  #clientClasses td:nth-of-type(9):before { content: "Edit";  font-weight: bolder;}
  #clientClasses td:nth-of-type(10):before { content: "Delete";  font-weight: bolder;}

  /*  clientHolidays */
  #clientHolidays td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #clientHolidays td:nth-of-type(2):before { content: "Batch" ; font-weight: bolder; }
  #clientHolidays td:nth-of-type(3):before { content: "Date" ; font-weight: bolder; }
  #clientHolidays td:nth-of-type(4):before { content: "Edit";  font-weight: bolder;}
  #clientHolidays td:nth-of-type(5):before { content: "Delete";  font-weight: bolder;}

  /*  collegeMessages */
  #collegeMessages td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #collegeMessages td:nth-of-type(2):before { content: "Departments" ; font-weight: bolder; }
  #collegeMessages td:nth-of-type(3):before { content: "Years" ; font-weight: bolder; }
  #collegeMessages td:nth-of-type(4):before { content: "Message" ; font-weight: bolder; }
  #collegeMessages td:nth-of-type(5):before { content: "Event/Message";  font-weight: bolder;}
  #collegeMessages td:nth-of-type(6):before { content: "Edit" ; font-weight: bolder; }
  #collegeMessages td:nth-of-type(7):before { content: "Delete" ; font-weight: bolder; }

  /*  collegeIndividualMessages */
  #collegeIndividualMessages td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #collegeIndividualMessages td:nth-of-type(2):before { content: "Department" ; font-weight: bolder; }
  #collegeIndividualMessages td:nth-of-type(3):before { content: "Year" ; font-weight: bolder; }
  #collegeIndividualMessages td:nth-of-type(4):before { content: "Date" ; font-weight: bolder; }
  #collegeIndividualMessages td:nth-of-type(5):before { content: "Edit";  font-weight: bolder;}
  #collegeIndividualMessages td:nth-of-type(6):before { content: "Delete" ; font-weight: bolder; }

  /*  collegeGalleryType */
  #collegeGalleryType td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #collegeGalleryType td:nth-of-type(2):before { content: "Type" ; font-weight: bolder; }
  #collegeGalleryType td:nth-of-type(3):before { content: "Edit";  font-weight: bolder;}
  #collegeGalleryType td:nth-of-type(4):before { content: "Delete" ; font-weight: bolder; }

  /*  collegeGalleryImage */
  #collegeGalleryImage td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #collegeGalleryImage td:nth-of-type(2):before { content: "Type" ; font-weight: bolder; }
  #collegeGalleryImage td:nth-of-type(3):before { content: "Images" ; font-weight: bolder; }
  #collegeGalleryImage td:nth-of-type(4):before { content: "Edit";  font-weight: bolder;}
  #collegeGalleryImage td:nth-of-type(5):before { content: "Delete" ; font-weight: bolder; }

  /*  clientMessages */
  #clientMessages td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #clientMessages td:nth-of-type(2):before { content: "Message" ; font-weight: bolder; }
  #clientMessages td:nth-of-type(3):before { content: "Batch" ; font-weight: bolder; }
  #clientMessages td:nth-of-type(4):before { content: "Event/Messag" ; font-weight: bolder; }
  #clientMessages td:nth-of-type(5):before { content: "Edit";  font-weight: bolder;}
  #clientMessages td:nth-of-type(6):before { content: "Delete" ; font-weight: bolder; }

  /*  clientIndividualMessages */
  #clientIndividualMessages td:nth-of-type(1):before { content: "Sr. No."; font-weight: bolder; }
  #clientIndividualMessages td:nth-of-type(2):before { content: "Batch" ; font-weight: bolder; }
  #clientIndividualMessages td:nth-of-type(3):before { content: "Date" ; font-weight: bolder; }
  #clientIndividualMessages td:nth-of-type(4):before { content: "Edit";  font-weight: bolder;}
  #clientIndividualMessages td:nth-of-type(5):before { content: "Delete" ; font-weight: bolder; }
}

table.inner-table-border{
  border:1px solid #e91e63 !important;
}
/*chart*/
 * {
    box-sizing: border-box;
  }
  #bar-chart {
    padding:  0px;
    font: 12px "Verdana";
  width: 100%;
  }
  #bar-chart .panel{  padding-bottom: 20px;}
  #bar-chart .panel-heading{ font-weight: bolder;}
  .barchart-Wrapper {
    display: table;
    position: relative;
    margin: 0px 0;
    height: 400px; /* defines height for the box, everything else responds to this */
  }

  .barChart-Container {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding-left: 15px;
  }

  .barchart {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
  }

  .barchart-Col {
    position: relative;
    vertical-align: bottom;
    display: table-cell;
    height: 100%;
  }
  .barchart-Col +.barchart-Col {
    border-left: 4px solid transparent;
  }

  .barchart-Bar {
      background: #ADD8E6;
    position: relative;
  }
  .barchart-Bar:after {
    content: attr(attr-height);
      color: black;
      position: absolute;
    text-align: center;
    width: 100%;
  }

  .barchart-BarFooter {
    position: absolute;
    text-align: center;
    height: 10%;
    width: 100%;
  }

  .barchart-TimeCol {
    position: absolute;
    top: 0;
    width: 2%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  .barchart-Time {
    height: 10%;
    vertical-align: middle;
    position: relative;
  }

  .barchart-Time:first-child .barchart-TimeText {
    top: -3px;
  }

  .barchart-Time:last-child .barchart-TimeText {
    top: -12px;
  }

  .barchart-Time:after {
    border-bottom: 1px dashed #ccc;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0em;
  }

  .barchart-Time:last-child:after {
    border-bottom: none;
  }

  .barchart-TimeText {
    position: absolute;
    top: -7px;
    z-index: 1;
    background: white;
    padding-right: 5px;
  }

  .lt-ie9 .barchart-TimeText {
    top: -3px !important;
  }
  }
.barchart-Col {
  width: 15px;
}
.barchart-BarFooter {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
  .modal-header h2{font-size: 15px; font-weight: bold; color:#e91e63; }
  .iframe-container {
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
  }
  .modal-footer{margin:   0px auto;
    text-align: center;}
  .iframe-container iframe,
  .iframe-container object,
  .iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .btn-primary{width: 300px;}
.profile-img img{border: 2px solid #ddd;}
@media (max-width:500px ){.profile-info{margin-left: 20%;}}

.bg-profile{
  background: url('{{ url('images/header.jpg')}}');
}

.bg-profile img{width:200px;
border: 2px solid #fff ;}
.usr-panel .panel{border-radius: 0px;
margin-top: -10px;}
.usr-panel .panel-heading{border-bottom: none;}
 span.p-title{ width: 200px !important; color: red; margin-right: 10px;}
 a.btn-top
{
    background:#448aff;
    color:#fff;
    border:1px solid #448aff;
    padding: 2px 10px;
    border-radius:4px;

    text-decoration: none;
    box-shadow:3px 3px 5px #222;
    transition:box-shadow 0.5s;
}


.btn.active {
  display: none;
}

.btn span:nth-of-type(1)  {
  display: none;
}
.btn span:last-child  {
  display: block;
}

.btn.active  span:nth-of-type(1)  {
  display: block;
}
.btn.active span:last-child  {
  display: none;
}

.block-with-text{
  display:inline-block;
  width:180px;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}
/*user profile*/
.user-prof{
      border-radius: 50%;
    padding:  10px;
    width: 150px;
    height: 150px;
}