body {overflow-x: hidden;}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 0px;

}
.navbar .navbar-header .user_menu{
  padding:20px 20px 0 0;
  margin-left: 20px;
  margin-top: 0px;
  color: #fff;
}
 .navbar-toggle {
margin-right:0px !important;
  }
@media screen and (max-width: 767px) {
  .navbar .navbar-header .user_menu {
    margin-left: 0px;
    margin-right: 20px;
    /*margin-top: 10px;*/
    font-size: 15px;
    padding: 5px;
   /* background: #01bafd;
    border: 1px solid #01bafd;*/
    border-radius: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar .navbar-header .user_menu {
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 15px;
    padding: 5px;
  /*  background: #01bafd;
    border: 1px solid #01bafd;*/
    border-radius: 10px;
  }
  .navbar-header .dropdown-menu .navbar-content
  {
    width:250px;
    padding: 15px;
    padding-bottom:0px;
    border: 1px solid #01bafd;
    margin: 0px 20px;
  }
}
.navbar-nav {
  margin-top: 40px;
  float: right;
}
.navbar-default .user_profile {
  margin-top: 40px;
  font-size: 28px;
  font-family: 'Righteous', cursive;
  color: #fff;
}
.navbar-default .user_profile>li>a {
  color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    float: none;
    text-align: center;
    background: rgba(25, 33, 60, 0.5);
  }
}

@media screen and (max-width: 1200px) {
  .navbar-nav {
    margin-top: 40px;
  }
  #bs-example-navbar-collapse-1
  {
    margin: 70px 0 0 0;
  }
  .top-nav{display: none;}
}

.navbar-default .navbar-brand {
  margin-top: 40px;
  font-size: 28px;
  font-family: 'Righteous', cursive;
  color: #fff;
  letter-spacing: 1px;
  -moz-transition:color .5s ease-in;
  -o-transition:color .5s ease-in;
  -webkit-transition:color .5s ease-in;
}
.navbar-default .navbar-brand img{max-width:110px;
 margin-top:-7px;}

 @media screen and (max-width: 400px) {
  .navbar-default .navbar-brand {
    font-size: 22px;
  }
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand span:hover {
  color: #3D99B8;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #42a5f6;
}
.navbar-default .navbar-nav>li>a:focus {
  color: #42a5f6;
}
.navbar-default .dropdown-menu {
  background: rgba(25, 33, 60, 0.5);
  color: #fff;
  overflow: hidden;
}
.navbar-default .dropdown-menu li a{
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing:0px;
  width: 100%;
}
.navbar-default .dropdown-menu li a:hover{
  background: rgba(25, 33, 60, 0.5);
  color:#fff;
}
.navbar-default .dropdown-menu>li>a:focus {
  color: #42a5f6;
}
.navbar-default .navbar-toggle {
  margin-top: 40px;
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
}
.navbar-default .navbar-toggle .icon-bar {
  height: 4px;
  width: 28px;
  background: #42a5f6;
}
.navbar-default.shrink {
  background:rgba(25, 33, 60, 0.8);
}
.navbar-default.shrink .navbar-nav {
  margin-top:5px;
  margin-bottom: 5px;
}
.navbar-default.shrink .navbar-brand {
  margin-top: 5px;
}
.navbar-default.shrink .navbar-toggle {
  margin-top: 5px;
}
@media screen and (max-width: 984px) {
  .navbar-nav {
    float: none;
  }
  .navbar-default .navbar-brand img{
    max-width:90px;
    float: left;
  }
}
.navbar-content{
  width:250px;
  padding: 15px;
  padding-bottom:0px;
}
.navbar-content li a{
  text-decoration:none;
}
.navbar-content li{
  margin-top:  10px;
  margin-bottom: 20px;
}
@media (max-width: 768px){
  .navbar-content
  {
    width:250px;
    padding: 15px;
    padding-bottom:0px;
    border: 1px solid #01bafd;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar-content{
    width:250px;
    padding: 15px;
    padding-bottom:0px;
    border: 1px solid #01bafd;
    margin-left: 20px;
  }
  .navbar-nav {
    float: left;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 105px;
  }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

  }
  .navbar-header {
    float: none;
    /*overflow: hidden;*/
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    /*margin: 7.5px -15px;*/
    margin: 7.5px 50px 7.5px -15px
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
    overflow: auto !important;
    overflow-x: hidden;

  }
  .collapsing {
    overflow: hidden!important;
  }
}
.full {
  width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background-color:#0c1a1e;
  /*background: #EDEFF1;*/
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
@media (max-width: 768px) {
  .footer { text-align: center;}
  .footer ul li a {font-size: 15px;}
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1200px){
.v_subscribe_form input {
    width: 40%;
}
.hidden-2{
  display: none;
}
}
@media (min-width: 1201px)
{
  .hidden-1{
  display: none;
}
}
@media (max-width: 767px){
.hidden-1{
  display: none;
}
}
@media (max-width: 990px){
  .hidden-link{
display: none;
  }
  }
@media (max-width: 768px){
.vchiptech, .social-circle{
    text-align: center;
  }
  }
  .hidden-link{
    float:right;
  }
 .v_subscribe_form  {
    margin: 20px auto;
    width: 100%;
}
.v_subscribe_form input.btn.btn-sm,
.v_subscribe_form input.btn.btn-sm:focus {
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.v_subscribe_form button.btn {
    width: 40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.vchip_social address{
    color: #fff;
  }
  .footer-bottom {
    background:#42526C;
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-bottom .site_link{
    color:#fff;
  }
  .footer-bottom .site_link:hover {
    background-color:#007bb7;
    padding: 0px 5px;
    border-radius: 30px;
  }
  .footer-bottom p .pull-left {
    padding-top: 6px;
    color: #fff;

  }
  .payments {
    font-size: 1.5em;
    float: right;

  }
  @media (max-width: 768px) {
    .vchip_social address{
      margin-left: 10px;}
      .vchip_social .social{
        margin: 0px 40px;
      }
      .payments {
        display: none;
      }
    }
    @media screen and (max-width: 980px) {
      .payments {
        display: none;
        }}
        /* footer social icons */
        ul.social-network {
          list-style: none;
          display: inline;
          margin-left:0 !important;
          padding: 0;
        }
        ul.social-network li {
          display: inline;
        }


        /* footer social icons */
        .social-network a.icoRss:hover {
          background-color: #F56505;
        }
        .social-network a.icoFacebook:hover {
          background-color:#3B5998;
        }
        .social-network a.icoTwitter:hover {
          background-color:#33ccff;
        }
        .social-network a.icoGoogle:hover {
          background-color:#BD3518;
        }
        .social-network a.icoVimeo:hover {
          background-color:#0590B8;
        }
        .social-network a.icoLinkedin:hover {
          background-color:#007bb7;
        }
        .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
        .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
          color:#fff;
        }
        a.socialIcon:hover, .socialHoverClass {
          color:#44BCDD;
        }

        .social-circle li a {
          display:inline-block;
          position:relative;
          margin:0 auto 0 auto;
          -moz-border-radius:50%;
          -webkit-border-radius:50%;
          border-radius:50%;
          text-align:center;
          width: 40px;
          height: 40px;
          font-size:20px;
        }
        .social-circle li i {
          margin:0;
          line-height:40px;
          text-align: center;
        }

        .social-circle li a:hover i, .triggeredHover {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -ms--transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          -ms-transition: all 0.2s;
          transition: all 0.2s;
        }
        .social-circle i {
          color: #fff;
          -webkit-transition: all 0.8s;
          -moz-transition: all 0.8s;
          -o-transition: all 0.8s;
          -ms-transition: all 0.8s;
          transition: all 0.8s;
        }

        @media (max-width: 768px) {
          .social-circle li a {
            width: 25px;
            height: 25px;
            font-size:15px;
          }
          .social-circle li i {
            margin:0;
            line-height:25px;
            text-align: center;
          }
        }
        /*background*/

#vchip-background{
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 60px;
}
#vchip-background .vchip-background-single {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#vchip_background .vchip-background-single .vchip-background-img {
  display: inline;
  width: 100%;
  height:auto;
}
#vchip-background .vchip-background-single .vchip-background-img figure {
  height: 100%;
  width: 100%;
  max-height:450px;
}
#vchip-background .vchip-background-single .vchip-background-img figure img {
  width: 100%;
  height: 100%;
  max-height:450px;

}
.vchip-background-content {
  width:40%;
  bottom: 30px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.vchip-background-content h2{ color: #fff;
  font-size: 50px;
  font-weight: 900px;
/*        margin:10px 50px 10px 90px;
*/      text-align: center;

}
@media screen and (max-width: 1680px){
 .vchip-background-content h2{ color: #fff;
  margin-top: 15px;

}
}
@media screen and (max-width: 1024px){
 .vchip-background-content h2{ color: #fff;
  font-size: 40px;
  margin-top: 15px;

}
}
@media screen and (max-width: 966px){
 .vchip-background-content h2{ color: #fff;
  font-size: 30px;
}
}
@media screen and (max-width: 768px){
  .vchip-background-content h2{ color: #fff;
    font-size: 25px;
  }
}
@media screen and (max-width: 603px){
 .vchip-background-content h2{ color: #fff;
  font-size: 20px;
  margin:10px 50px 10px 40px;

}
}
@media screen and (max-width: 480px){
 .vchip-background-content h2{ color: #fff;
  font-size: 20px;
  margin:10px 30px 10px 30px;

}
}
@media screen and (max-width: 320px){
 .vchip-background-content h2{ color: #fff;
  font-size: 16px;
  margin:10px 0px 10px 0px;
}
#vchip-background .vchip-background-single .vchip-background-img figure img {
  height:270px;
}
}

  @media (max-width: 1000px){
 footer .footer-bottom  p.pull-right{display: none!important;}
}
  @media (max-width: 310px){
footer .footer-bottom .container .row .col-md-4 .social-network{display: none!important;}
 footer .footer-bottom .container .row .col-sm-6>p{margin:0px auto;
  padding: 0px auto;
margin-left: 50%;}
}

/*user profile*/
 .user-profile {
    height: 30px;
    width: 30px;
    border: 2px solid #108DB6 !important;
 }
.user-profile1{
  height: 50px;
  width: 50px;
  border: 2px solid #108DB6 !important;
}
.user-dropdown .more {
  padding: 0px;
  width: 100%;
  height: 40px;
  border-top: 1px solid #ddd;
}

.user-dropdown .more ul {
  padding: 0px;
  padding-left: 10px;
}

.user-dropdown .more li {
  float: left;
  list-style: none;
  padding: 15px;
  padding-top: 5px;
}

.user-dropdown .more a {
  font-size: 18px;
  color: #ddd;
}
.navbar-collapse{
   padding-left:0;
}
.navbar-content li>b{text-transform: uppercase;}

#loginUserModel .modal-dialog{
  border-top:10px solid #01bafd;
}
#loginUserModel .close{color: #fff;}
#loginUserModel .modal, #loginUserModel .modal-content{border-radius:  0px;
  background-color: rgba(0, 0, 0, 0.5);}
#loginUserModel    div.modal-data{
    background-color: rgba(0, 0, 0, 0.5);
        padding: 30px;
  }
#loginUserModel   div.modal-data .form-control {
background: transparent;
color: #fff;
font-size: 16px !important;
width: 100%;
border: 2px solid rgba(255, 255, 255, 0.2) !important;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
border-radius: 0px!important
}
#loginUserModel  div.modal-data .form-group input:focus{border: 2px solid #fff !important;
}
#loginErrorMsg{
  color: red;
}

/* advertisement */

/*course box*/
.add-1 .course-box {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: box-shadow .25s;
  border: 7px solid #CD5C5C;
}/*
.add-1 .course-box:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}*/
.add-1 .img-course-box {
  width: 100%;
  height:150px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.add-1 .img-course-box img{
  width: 100%;
  height: 100%;
  transition: all .25s ease;
}
@media(max-width:768px ){
 .add-1  .img-course-box img{
    width: 100%;
  }
}
.add-1 .course-box-content {
  padding:15px;
  text-align:left;
  background-color: #CD5C5C;
color: #fff;
}
.add-1 .course-box-content p{
  height: 20px;
  /*display: inline-block;*/
  /*width: 180px;*/
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  color:#fff !important;

}
.add-1 .course-box-title {
  background-color: #CD5C5C;
  margin-top:-16px;
  margin-right: -16px;
  margin-left: -16px;
  padding: 10px;
  height: 43px;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
}
.add-1 .course-box-title a {
  color:#fff !important;
  text-decoration: none !important;
}
@media (min-width: 995px) and (max-width: 1600px) {
  .hidden-div {
    display: none !important;
  }
}
 .hidden-div {
 right: 0%;
    width: 100%;
  }
@media (max-width: 995px) {
  .hidden-div1 {
    display: none !important;
  }

}
@media (min-width: 768px) and (max-width: 995px) {

  .col-sm-pull-9 {
    right: 0%;
    width: 100%;
  }
    .col-sm-push-3 {
    left:  0%;
    width: 100%;
  }
   .add-1, .add-2{width:50%;
    float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;}
}
@media (min-width: 568px) and (max-width: 766px) {
  .add-1, .add-2{width:50%;
    float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;}
}
.block-with-text {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
  .pagination{margin-bottom: 50px !important;
    }
 #pagination .pagination{  float:  right; }
 @media(max-width:777px){
 #pagination .pagination{  float:  none !important;
  margin-left: 60px;}
 }
 .rotated
  {
    -moz-transform:rotate(-90deg);
      -ms-transform:rotate(-90deg);
      -o-transform:rotate(-90deg);
      -webkit-transform:rotate(-90deg);
      transform-origin: top left;
  }
  .container-box {
    display: inline-block;
    padding: 10px;
    /*background: rgba(210, 32, 32, 0.8);
    border: 1px solid #fff;*/
    position: fixed;
    top: 55%;
    right: -100px;
    z-index: 2000;
  }
@media screen and (max-width: 483px) {
  #companyTest{
    padding-right: 0px !important;
  }
}
@media screen and (max-width: 400px) {
  #companyTest a{
    font-size: 12px;
  }
}

.job-menu{
  top: 35% !important;
  right: 2%;
  left: 86%;
}
@media screen and (max-width: 1500px) {
  .job-menu{
    right: 2%;
    left: 86%;
  }
}

@media screen and (max-width: 1400px) {
  .job-menu{
    right: 2%;
    left: 86%;
  }
}
@media screen and (max-width: 1200px) {
  .job-menu{
    right: 2%;
    left: 83%;
  }
}
@media screen and (max-width: 1000px) {
  .job-menu{
    right: 3%;
    left: 78%;
  }
}
@media screen and (max-width: 750px) {
  .job-menu{
    right: 10%;
    left: 66%;
  }
}
@media screen and (max-width: 550px) {
  .job-menu{
    right: 17%;
    left: 50%;
  }
}