body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 16px;
  overflow-x: hidden;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

/* MODULES - Individual site components */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

img {
  border: none;
}

.mu-read-more-btn {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-read-more-btn:hover, .mu-read-more-btn:focus {
  color: #fff;
}

.mu-post-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-post-btn:hover, .mu-post-btn:focus {
  color: #fff;
}

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
.mu-title h2 {
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* LAYOUTS - Page layout styles */




/*==================
 HEADER SECTION
====================*/
#mu-header {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  width: 100%;
}
#mu-header .mu-header-area {
  display: inline;
  float: left;
  padding: 10px 0;
  width: 100%;
}
#mu-header .mu-header-area .mu-header-top-left {
  display: inline;
  float: left;
  width: 100%;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-email {
  display: inline;
  float: left;
  font-size: 14px;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-email i {
  margin-right: 5px;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-phone {
  border-left: 1px solid #000;
  display: inline;
  font-size: 14px;
  float: left;
  margin-left: 15px;
  padding-left: 15px;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-phone i {
  margin-right: 5px;
}
@media (max-width:768px) {
  #mu-header .mu-header-area .mu-header-top-left {
   display: inline;
   margin-left: 15px;
  padding-left: 15px;

 }
}
#mu-header .mu-header-area .mu-header-top-right {
  display: inline;
  float: left;
  text-align: right;
  width: 100%;
}
#mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav {
  display: inline-block;

}
#mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav li {
  display: inline-block;
}
#mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav li a {
  display: inline-block;
  font-size: 14px;
  padding: 0 8px;

}
@media (max-width:768px) {
  #mu-header .mu-header-area .mu-header-top-right   {
 display: inline;
  float: left;
  text-align: center;
  width: 100%;

}
}

/*==================
 NAVBAR SECTION
====================*/

.navbar-fixed-top nav {
  margin: 1cm 0cm 0cm 0cm;
}


#mu-menu {
  display: inline;
  float: left;
  width: 100%;
}
#mu-menu .navbar-header .navbar-brand {

  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
  letter-spacing: 0.5px;
}
#mu-menu .navbar-header .navbar-brand img{
  max-width:100px;
  margin-top:-7px;
}
#mu-menu .navbar-header .navbar-brand span {
  margin-left: 4px;
}
#mu-menu .navbar-default {
  background-color: #fff;
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin-bottom: 0px;
}
#mu-menu .navbar-default .navbar-nav li > a {
  border-bottom: 2px solid transparent;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: -1px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-menu .navbar-default .navbar-nav li #mu-search-icon:hover, #mu-menu .navbar-default .navbar-nav li #mu-search-icon:focus {
  border: none;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu {
  border-radius: 0px;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu li a {
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}
#mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, #mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
  color: #fff;
}
#mu-menu .navbar-default .navbar-nav .open a:hover, #mu-menu .navbar-default .navbar-nav .open a:focus {
  color: #fff;
}
@media (max-width:768px) {
  .navbar-fixed-top nav {
  margin: 1.5cm 0cm 0cm 0cm;
}
  .navbar-header {
    padding: 10px 0;
  }

  #mu-menu .navbar-header .navbar-brand {
    padding-top: 10px;
  }

  #mu-search-icon {
    display: none;
  }

  .navbar-toggle {
    background-color: #01bafd;
    border-radius: 20px;
  }

  .navbar-default .navbar-toggle {
    border-color: #01bafd;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #01bafd;
  }

  #mu-menu .navbar-default .navbar-nav li > a {
    padding: 15px 20px;
  }

}


/*==================
 TEST SERIES
====================*/

#test_series {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
      background: #eee;

}
#test_series .test_series-area {
  display: inline;
  float: left;
  width: 100%;
}
#test_series .test_series-area .test_series-title {
  padding-top:100px;
    text-align: center;
  }

/*==================
 TEST SERIES
====================*/
.btn-toolbar{
      margin: 200px;
    }
#mu-features {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
#mu-features .mu-features-area {
  display: inline;
  float: left;
  width: 100%;
}
h5{
  float:center;

}
.btn{
  width:100%;
 }
 #outer
{
    width:100%;
    text-align: center;
  padding:0px;
  margin:0px;
}
.inner
{
float:center;
    display: inline-block;
      margin-right: 10px;

}
/*==================
 FOOTER
====================*/
#mu-footer {
  display: inline;
  float: left;
  width: 100%;
}
#mu-footer .mu-footer-top {
  background-color: #333;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget {
  display: inline;
  float: left;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget h4 {
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a {
  color: #f9f9f9;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
 position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;*/
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:hover, #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a:focus {
  margin-left: 5px;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget p {
  color: #f9f9f9;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form {
  display: inline;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  font-size: 15px;
  height: 35px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form .mu-subscribe-btn {
  color: #fff;
  border: medium none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 5px 10px;
}
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget address p {
  font-weight: lighter;
  letter-spacing: 0.5px;
}
#mu-footer .mu-footer-bottom {
  background-color: #222;
  display: inline;
  float: left;
  padding: 25px 0;
  width: 100%;
}
#mu-footer .mu-footer-bottom .mu-footer-bottom-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
#mu-footer .mu-footer-bottom .mu-footer-bottom-area p {
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}
#mu-footer .mu-footer-bottom .mu-footer-bottom-area p a {
  color: #fff;
}

@media (max-width: 767px) {
#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget {
    margin-bottom: 30px;
    text-align: center;
  }

  #mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget .mu-subscribe-form input[type="email"] {
    width: 50%;
    margin-right: 10px;
  }
  }