#v-webinar_start {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
 }

 .v_webinar_tital h2{
color: #01bafd;
text-align: center;
border-bottom: 1px solid #01bafd;
    padding: 50px 0;

}

#v-webinar {
  display: inline;
  float: left;
  width: 100%;
  padding: 100px 0;
}
#v-webinar .v-webinar-area {
  display: inline;
  float: left;
  width: 100%;
  background: #eee;
  border:1px solid #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

#v-webinar .v-webinar-area .v_webinar_tital {

}
#v-webinar .v-webinar-area .web{
  display: inline;
  width: 100%;
    border-bottom: 1px solid #ddd;

}
#v-webinar .v-webinar-area .webinar_tital, .webinar_body, {
margin:20px 0px; 

}
.webinar_footer{
margin:40px 0px; 
}
#v-webinar .v-webinar-area .web{
}
a.morelink {
  text-decoration:none;
  outline: none;
}